<h1>About Quick and Applicalble QnA</h1>

<p>
  This is a place where young developers can ask more experienced developers questions.
</p>

<p>
  On our home page you can pose a question to the development community.  If you don't want to leave your name, no worries.  Leave that field blank and it will default to "Anonymous".
</p>

<p>
Getting your answer is great.  It makes it easier for others to answer your question if they know where your thinking is at, so be sure to fill your thoughts on the question you posed.  Also, it will be a great opportunity for others to redirect your thought process if you were going down a bad path, or encourage you and tell you how close you were.
</p>

<p>
  If you see a question that you think you can help someone with, click on it and write a response.  If you have the same question that has already been presented, don't waste your time posting it again, just see what others have already said about it by clicking on the question.
</p>

<h3>
Happy coding!
</h3>
