<div class= "container">
  <header class= "jumbotron">
    <h1>Quick and Applicable</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <button>{{#link-to 'about'}}Learn about this website{{/link-to}}</button>
    <button>{{#link-to 'index'}}Home Page{{/link-to}}</button>
  </footer>
</div>
