<h1> Welcome to Quick and Applicaple</h1>

<p>Ask a question, come back and see if anyone has answered your post.</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}



{{#link-to 'about'}}About{{/link-to}}
